@import "../../styles/variables.scss";

.wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: rgba(229, 230, 224, 1);
    border-radius: $radius;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heading {
        text-align: left;
        margin: 0;
        font-size: 24px;
        color: $blue;
    }

    .btnWrapper {
        display: flex;
        gap: 12px;

        .navBtn {
            background-color: $light-blue;
            color: $white;
            border: none;
            outline: none;
            border-radius: $radius;
            padding: 5px 10px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            gap: 8px;

            &:hover {
                cursor: pointer;
                background: $blue;
            }

            &.active {
                border: 2px solid $white;
                background-color: $blue;
            }
        }
    }

}