$blue: #545454;
$light-blue: #aabee7;
$yellow: #edf056;
$dark-blue: #559ee9;
$green: #27AE60;
$light-green: #abd0b0;
$red: #E74C3C;
$gray: #e5e6e0;
$white: #f9f9f9;
$black: #242424;

$radius:  12px;


// TOGGLE DAY & NIGHT
// Sunny Side
$blue-background: #C2E9F6;
$blue-border: #72cce3;
$blue-color: #96dcee;
$yellow-background: #fffaa8;
$yellow-border: #f5eb71;

// Dark Side
$indigo-background: #808fc7;
$indigo-border: #5d6baa;
$indigo-color: #6b7abb;
$gray-border: #e8e8ea;
$gray-dots: #e8e8ea;

// General
$white: #fff;
